
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');


#app {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

/* FADE 
.......................................*/

.fade-enter-active {
	transition: opacity .5s;
	opacity: 1;
}

.fade-enter {
	opacity: 0;
}

.fade-leave-active {
	display: none;
}

.fade-leave {
	display: none;
}

/* MARGINS 
.......................................*/

.m-b-5 {
	margin-bottom: 5px;
}

.m-t-5 {
	margin-top: 5px;
}

/* Alertify
.......................................*/

.ajs-message.ajs-success {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 75px;
	border: none;
	border-radius: 5px;
	font-size: 24px;
	text-shadow: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}